# ─── PostgreSQL ────────────────────────────────────────────────
POSTGRES_USER=admin
POSTGRES_PASSWORD=o83WBwlPtGpLnT4mNKJy
POSTGRES_DB=postgre

# ─── pgAdmin ───────────────────────────────────────────────────
PGADMIN_DEFAULT_EMAIL=gv-it-lab@yandex.ru
PGADMIN_DEFAULT_PASSWORD=ozc8u1jeZsPX

# ─── Бэкапы ────────────────────────────────────────────────────
BACKUP_RETENTION_DAYS=30