# PostgreSQL superuser
POSTGRES_USER=admin
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_DB=postgres

# Vaultwarden dedicated DB user (created by init-scripts/01-init-vaultwarden-db.sql)
VW_DB_USER=vw_user
VW_DB_PASSWORD=CHANGE_ME
VW_DB_NAME=vaultwarden

# pgAdmin
PGADMIN_EMAIL=admin@home.loc
PGADMIN_PASSWORD=CHANGE_ME
